@charset "UTF-8";

/* 规则 */

/*
* @Author: kevin
* @Date:   2016-04-05 13:37:33
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2018-01-19 14:03:10
*/

/**
 * 左右margin为auto
 */

.icon_lists {
  margin-left: auto;
  margin-right: auto;
}

/**
 * 水平居中
 * @param  {number} $width 设置宽度,默认90%
 */

.sprite {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-size: 10rem 6.426667rem;
}

/* 服务工单列表页面 */

.main {
  padding: 0.266667rem;
}

.icon_lists {
  width: 9.333333rem;
}

.icon_lists li {
  float: left;
  width: 1.333333rem;
  height: 1.333333rem;
  text-align: center;
}

.icon_lists .icon {
  font-size: 0.56rem;
  line-height: 1.333333rem;
  margin: 0.133333rem 0;
  color: #333;
  transition: font-size 0.25s ease-out 0s;
}

.icon_lists .icon:hover {
  font-size: 1.333333rem;
}

.base_list {
  text-align: center;
  font-size: 0.346667rem;
}

.btn_wrap {
  margin-top: 0.266667rem;
}